body {
    background-color: rgb(245, 250, 245);

    .CuadroTitulo {
        h1 {
            color: rgb(9, 78, 55);
            text-align: center;
            font-size: 100px;
            font-family: 'Playfair Display', serif;
            margin-bottom: 20px;
            margin-top: 30px;
        }

        h2 {
            color: grey;
            font-size: 40px;
            font-family: 'Playfair Display', serif;
            animation-duration: 15s;
            animation-name: aparecer;
            text-align: center;
        }
    }

    .CuadroRelaciones {
        background-color: #EFEDED;
        border-radius: 30px;
        padding: 20px 0px 20px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .CuadroInformacionGeneral {
        background-color: #68a5c4;
        border-radius: 30px;
        padding: 20px 40px 20px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .subtitle {
        color: rgb(9, 78, 55);
        text-align: left;
        font-size: 40px;
        font-family: 'Playfair Display', serif;
        letter-spacing: normal;
        text-decoration: none;
        padding: auto;
    }

    /* Modifica todos los parrafos */
    p {
        color: rgb(5, 4, 4);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        letter-spacing: normal;
        word-spacing: 2px;
        line-height: 25px;
    }

    .CuadroEjecucion {
        background-color: #A7D6D0;
        border-radius: 30px;
        padding: 20px 20px 20px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 30%;
    }

    /* Estilo para Cuadro Estrategia Index*/
    .CuadroEstrategia {
        background-color: #F5DF9A;
        border-radius: 30px;
        padding: 20px 0px 20px 20px;
        background-image: linear-gradient(to bottom, #F5DF9A, #FAE08B, #F8E6AE);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 30%;
        gap: 3rem;
    }

    /* Clase para Cuadro Influencia*/
    .CuadroInfluencia {
        background-color: #E3A86E;
        border-radius: 30px;
        padding: 20px 20px 20px 20px;
        background-image: linear-gradient(to bottom, #E3A86E, #E99761, #FDD0A3);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 30%;
    }

    .subtitle {
        color: rgb(9, 78, 55);
        text-align: left;
        font-size: 40px;
        font-family: 'Playfair Display', serif;
        letter-spacing: normal;
        text-decoration: none;
        padding: auto;
    }

    /* Modifica todos los parrafos */
    p {
        color: rgb(5, 4, 4);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        letter-spacing: normal;
        word-spacing: 2px;
        line-height: 25px;
    }

    footer {
        color: rgb(9, 78, 55);
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}