@import "card" ;
@import "media";

$col-teal:rgb(9, 78, 55);
$col-: #A7D6D0;
$col-blue: #68a5c4;
$col-organge:#E3A86E;
$col-yellow:#F5DF9A; 

body{
    background-color:(#FEFEFE);
}
    .CuadroTitulo{
        h1{
            color: $col-aqua;
            text-align: center;
            font-size: 100px;
            font-family: 'Playfair Display', serif;
            margin-bottom: 20px;
            margin-top: 30px;
        }
        h1 {
            animation-duration: 3s;
            animation-name: aparecer;
        }
            @keyframes aparecer {
                0% {
                opacity: 0;
                }
                100% {
                opacity: 1;
                }
        }
        h2{
            color:grey;
            font-size: 40px;
            font-family: 'Playfair Display', serif; 
            animation-duration: 15s;
            animation-name: aparecer; 
            text-align: center;
        }
    }
    #zona1{
            display: flex;
            flex-direction: row-reverse;
            flex:1;
            margin-top: 50px;
            justify-content: space-around;
            gap: 2rem;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        /* Estilo para Cuadro Relaciones Index*/
        .CuadroRelaciones{
            background-color: #EFEDED;
            border-radius: 30px;
            padding: 20px 0px 20px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }
    
        .CuadroInformacionGeneral{
            background-color: $col-blue;
            border-radius: 30px;
            padding: 20px 40px 20px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }
        .imagen1{
            background-image: url(imagenes/ImagenRelaciones.png);
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: right;
        
        }
        .imagen2{
            background-image: url(imaenes/ImagenInformaciongeneral.png);
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: right;
        }
        .subtitle{
            color: $col-teal;
            text-align: left;
            font-size: 40px;
            font-family: 'Playfair Display', serif;
            letter-spacing: normal;
            text-decoration: none;
            padding: auto;
        }
        /* Modifica todos los parrafos */
        p{
            color: rgb(5, 4, 4);
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            letter-spacing: normal;
            word-spacing: 2px;
            line-height: 25px;
        }
    }
    #zona2{
        display: flex;
        margin-top: 3%;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    
        .zona2__CuadroEjecucion {
            background-color:$col-aqua;
            border-radius: 30px;
            padding: 20px 20px 20px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            width: 30%;
        }
        /* Estilo para Cuadro Estrategia Index*/
        .CuadroEstrategia {
            background-color:$col-yellow;
            border-radius: 30px;
            padding: 20px 0px 20px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            width: 30%;
            gap: 3rem;
        }
        /* Clase para Cuadro Influencia*/
        .CuadroInfluencia {
            background-color:$col-organge;
            border-radius: 30px;
            padding: 20px 20px 20px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            width: 30%;
        }
        .subtitle{
            color: $col-teal;
            text-align: left;
            font-size: 40px;
            font-family: 'Playfair Display', serif;
            letter-spacing: normal;
            text-decoration: none;
            padding: auto;
        }
        /* Modifica todos los parrafos */
        p{
            color: rgb(5, 4, 4);
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            letter-spacing: normal;
            word-spacing: 2px;
            line-height: 25px;
        }
    }
    #CajaBase{
        background-color:#e6e6e6;
        border: none;
        border-radius: 30px;
        padding: 20px 30px 20px 30px;
        margin-top: 5%;
        width: 80%;
        text-align: center;
        form{
            text-align: center;
            display:flex;
        }
    /* Etiquetas dentro del Form */
        label{
            color: rgb(117, 24, 71);
            font-family: 'Playfair Display', serif;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
        .subtitle{
            color: $col-teal;
            text-align: left;
            font-size: 40px;
            font-family: 'Playfair Display', serif;
            letter-spacing: normal;
            text-decoration: none;
            padding: auto;
            margin-bottom: 50px;
        }
    }
    footer{
        color: $col-teal;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 10px;
        text-align: center;
        background-color:#e6e6e6;
    }

